@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 8; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin: 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 4px;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

a{
  text-decoration: none;
  color: #949393;
}
.header{
  width: 100%;
  display: flex;
  padding: 4px;
  justify-content: space-between; 
  margin-bottom: auto;
  align-items: flex-start;
}

.left-links{
  align-self: flex-start;
  margin-left: 4px;
}
.right-links{
  margin-right: 16px;

}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.footer{
  display: flex;
  background: #eeeeee;
  padding: 4px;
  margin-top: auto;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}
